.haguruma{
	position:absolute;
	width:30px;
	height:30px;
	right:20px;
	top:20px;
}

.list_table{
	border-collapse: collapse;
	table-layout: fixed;
}

.list_tr{
	border: solid #EEE;
	border-width:2px 0px 0px 0px;
}

.list_table th,td{
	padding: 15px 8px;
	vertical-align: middle;
}

.th_name,.td_name{
	text-align: left;
	width: 70px;
}

.th_riyu,.td_riyu{
	text-align: left;
	width: 165px;
}

.th_am,.th_pm,.td_am,.td_pm{
	text-align: center;
	width: 43px;
}
