.emp-cnt{
  margin: 10px;	
}

.ul-emp{
  list-style: none;
  padding-inline-start: 0px;
}

.addEmp-button{
  position:absolute;
  right: 10px;
  top: 0px;
}

.li-emp{
	padding: 15px 8px;
	border: solid #EEE;
	border-width:2px 0px 0px 0px;
}

li:last-child{
	border-width:2px 0px 2px 0px;
}