<!DOCTYPE html>
<html
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<!--/* 全プレート共通定義 */-->
<head>

<!--/* timedisp: trueの時、ファイル名の末尾にクエリ文字列を生成する（ファイルキャッシュ対策） */-->
<th:block th:fragment="app-fragment-definition-include" th:with="timedisp=true">
<meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
<meta http-equiv="Content-Style-Type" content="text/css"/>
<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
<!--/* 電話番号、メールアドレスがリンクテキスト化されるのを抑止する */-->
<meta name="format-detection" content="telephone=no, email=no, address=no"/>
<!--/* リファラ情報からパラメータを除外する */-->
<meta name="referrer" content="origin" />

<title>月例出欠確認システム</title>

<!--/* （共通） CSS定義 */-->
<link rel="stylesheet" type="text/css" th:href="@{/css/common.css?timestamp={timestamp}(timestamp=${timedisp? #dates.format(#dates.createNow(), 'yyyyMMddHHmmss'): ''})}"></link>
<link rel="stylesheet" type="text/css" th:href="@{/css/reboot.css?timestamp={timestamp}(timestamp=${timedisp? #dates.format(#dates.createNow(), 'yyyyMMddHHmmss'): ''})}"></link>

<!--/* （共通） JavaScript定義 */-->
<script type="text/javascript" th:src="@{/js/common/plugin/jquery-3.4.1.min.js}"></script>
<script type="text/javascript" th:src="@{/js/common/plugin/jquery.autoKana.js}"></script>
<script type="text/javascript" th:src="@{/js/common/plugin/jquery.autosize.js}"></script>
<script type="text/javascript" th:src="@{/js/common/plugin/fixed_midashi.js}"></script>

<!--/* ブラウザバックの禁止 */-->
<script type="text/javascript">
    history.pushState(null, null, null);
    window.addEventListener("popstate", function() {
        history.pushState(null, null, null);
    });
</script>

</th:block>
</head>
<body>
</body>
</html>