<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<!--/* 共通のスクリプト／スタイルシートを読み込む */-->
		<th:block th:replace="definition::app-fragment-definition-include"></th:block>
 		<link href="/css/edit.css" th:href="@{/css/edit.css}" rel="stylesheet">
	</head>
	<body th:object="${form}">
		<div class="contents">
			<div class="wrap">
				<h1 class="midasi">月例出欠 ＞ 出欠入力</h1>
				<form name="editForm" method="post" th:action="@{edit}">
					<!--/* エラーメッセージ Start */-->
					<table th:if="${not #lists.isEmpty(errors)}">
						<tr th:each="error : ${errors}">
							<td>
								<span th:text="${error.defaultMessage}" style="color: red"></span>
							</td>
						</tr>
					</table>
					<!--/* エラーメッセージ End */-->
					<p class="namae">新田</p>
					<table class="edit_table">
						<tr class="edit_tr">
							<th class="am" >ＡＭ</th>
							<td class="edit_td"><label><input type="radio" th:field="*{attendanceInfo.attendanceAm}" class="radiobtn" value="1">出席</label><br>
								<label><input type="radio" th:field="*{attendanceInfo.attendanceAm}" class="radiobtn"  value="0">欠席</label>
								<input type="text" th:field="*{attendanceInfo.reasonAm}" class="riyuu">
							</td>
						</tr>
						<tr class="edit_tr">
							<th class="pm" >ＰＭ</th>
							<td class="edit_td"><label><input type="radio" th:field="*{attendanceInfo.attendancePm}" class="radiobtn" value="1">出席</label><br>
								<label><input type="radio" th:field="*{attendanceInfo.attendancePm}" class="radiobtn" value="0">欠席</label>
								<input type="text" th:field="*{attendanceInfo.reasonPm}" class="riyuu">
							</td>
						</tr>
					</table>
					<input type="submit" name="edit" value="登録">
				</form>
			</div>
		<!-- wrap -->
		</div>
		<!-- contents -->
	</body>
</html>