<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<!--/* 共通のスクリプト／スタイルシートを読み込む */-->
		<th:block th:replace="definition::app-fragment-definition-include"></th:block>
 		<link href="/css/list.css" th:href="@{/css/list.css}" rel="stylesheet">
 	</head>
	<body th:object="${form}">
	    <header class="header">
			<h1 class = "midasi">月例出欠</h1>
			<form name="masterForm" method="post" th:action="@{list}">
				<input type="image" src="/images/haguruma.png" th:src="@{/images/haguruma.png}" alt="マスタ管理画面へ" name="master" class="haguruma" />
			</form>
		</header>
		<div class="pankuzu">
		</div>
		<div class="contents">
			<div class="wrap">
				<table class="list_table">
					<tr class="list_tr">
			   			<th class="th_name"></th>
			   			<th class="th_am">AM</th>
			   			<th class="th_riyu">欠席理由</th>
			   			<th class="th_pm">PM</th>
			   			<th class="th_riyu">欠席理由</th>
			   		</tr>
					<!--/* データ行部 Start */-->
					<tr th:each="row,rowStat : *{attendanceInfoList}" th:object="${row}" class="list_tr">
						<td class="td_name">
							<form method="post" name="nameForm" th:action="@{list}">
								<input type="hidden" name="edit" th:value="*{employeeInfo.name}" >
								<a class="a_name" th:href="'javascript:nameForm[' + ${rowStat.index} + '].submit()'" th:text="*{employeeInfo.name}"></a>
						  	</form>
						</td>
						<td class="td_am">
							<div th:switch="*{attendanceInfo.attendanceAm}">
								<img th:case="0" th:src="@{/images/batsu.png}" width="30" height="30" >
								<img th:case="1" th:src="@{/images/maru.png}" width="30" height="30" >
							</div>
						</td>
						<td th:text="*{attendanceInfo.reasonAm}" class="td_riyu"></td>
						<td class="td_pm">
							<div th:switch="*{attendanceInfo.attendancePm}">
								<img th:case="0" th:src="@{/images/batsu.png}" width="30" height="30" >
								<img th:case="1" th:src="@{/images/maru.png}" width="30" height="30" >
							</div>					
						</td>
						<td th:text="*{attendanceInfo.reasonPm}" class="td_riyu"></td>
					</tr>
			   		<tr class="list_tr sum_tr">
			   			<td class="td_name">3人</td>
			   			<td class="td_am">3人</td>
			   			<td class="td_riyu"></td>
			   			<td class="td_pm">2人</td>
			   			<td class="td_riyu"></td>
			   		</tr>
				</table>
				<form name="clearForm" method="post" th:action="@{list}">
					<input type="button" name="clear" class="clear-button" value="クリア"/>
				</form>
			</div>
			<!-- wrap -->
		</div>
	</body>
</html>