<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<!--/* 共通のスクリプト／スタイルシートを読み込む */-->
		<th:block th:replace="definition::app-fragment-definition-include"></th:block>
 		<link href="/css/list.css" th:href="@{/css/list.css}" rel="stylesheet">
 	</head>
	<body th:object="${form}">
	    <header class="header">
			<h1 class = "midasi">月例出欠</h1>
			<form name="masterForm" method="post" th:action="@{list}">
				<input type="image" src="/images/haguruma.png" th:src="@{/images/haguruma.png}" alt="マスタ管理画面へ" name="master" class="haguruma" />
			</form>
		</header>
		<div class="pankuzu">
		</div>
		<div class="contents">
			<div class="wrap">
				<div class="year-month">
					<div class="year-month_flex">
					<form name="yearMonthBack" method="post" th:action="@{list}" class="year-month_form">
						<input type="image" src="/images/back.png" th:src="@{/images/back.png}" alt="前の月へ" name="year-month_back" class="year-month_ctl year-month_back" />
					</form>
					<p class="year-month_disp" th:text="*{dispYearMonth}"></p>
					<form name="yearMonthNext" method="post" th:action="@{list}" class="year-month_form">
						<input type="image" src="/images/next.png" th:src="@{/images/next.png}" alt="次の月へ" name="year-month_next" class="year-month_ctl year-month_next" />
					</form>
					</div>
				</div>
				<table class="list_table">
					<tr class="list_tr">
			   			<th class="th_name"></th>
			   			<th class="th_am">AM</th>
			   			<th class="th_riyu">欠席理由</th>
			   			<th class="th_pm">PM</th>
			   			<th class="th_riyu">欠席理由</th>
			   		</tr>
					<!--/* データ行部 Start */-->
					<tr th:each="row,rowStat : *{attendanceInfoList}"  class="list_tr">
						<td class="td_name">
							<form method="post" name="nameForm" th:action="@{list}">
								<input type="hidden" name="edit" th:value="${row.emp_name} + ',' + *{dispYearMonth}" >
								<a class="a_name" th:href="'javascript:nameForm[' + ${rowStat.index} + '].submit()'" th:text="${row.emp_name}" ></a>
						  	</form>
						</td>
						<!-- attendance == true -->
						<td class="td_am" th:if="${row.attendance}">
							<div th:switch="${row.am_attend}">
								<img th:case="false" th:src="@{/images/batsu.png}" width="30" height="30" >
								<img th:case="true" th:src="@{/images/maru.png}" width="30" height="30" >
							</div>
						</td>
						<td th:text="${row.am_reason}" class="td_riyu" th:if="${row.attendance}"></td>
						<td class="td_pm" th:if="${row.attendance}">
							<div th:switch="${row.pm_attend}">
								<img th:case="false" th:src="@{/images/batsu.png}" width="30" height="30" >
								<img th:case="true" th:src="@{/images/maru.png}" width="30" height="30" >
							</div>					
						</td>
						<td th:text="${row.pm_reason}" class="td_riyu" th:if="${row.attendance}"></td>
						<!-- attendance == false -->
						<td class="td_riyu" colspan="4" th:unless="${row.attendance}">
							<div>未登録</div>
						</td>
					</tr>
			   		<tr class="list_tr sum_tr">
			   			<td class="td_name" th:text="*{totalEmployees} + '人'"></td>
			   			<td class="td_am" th:text="*{totalAmAttendanceCount} + '人'"></td>
			   			<td class="td_riyu"></td>
			   			<td class="td_pm" th:text="*{totalPmAttendanceCount} + '人'"></td>
			   			<td class="td_riyu"></td>
			   		</tr>
				</table>
			</div>
			<!-- wrap -->
		</div>
	</body>
</html>