<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
	<head>
		<title>ログイン画面</title>
	</head>
	<body>
		<div th:if="${session['SPRING_SECURITY_LAST_EXCEPTION']} != null" 
			 th:text="ユーザ名またはパスワードが正しくありません。再度入力してください。">
		</div>
		<form name="loginForm" method="post" th:action="@{authenticate}">
			<div><label> ユーザ名 : <input type="text" name="username"/> </label></div>
			<div><label> パスワード: <input type="password" name="password"/> </label></div>
			<div><input type="submit" value="ログイン"/></div>
		</form>
	</body>
</html>