<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<!--/* 共通のスクリプト／スタイルシートを読み込む */-->
		<th:block th:replace="definition::app-fragment-definition-include"></th:block>
 		<link href="/css/master.css" th:href="@{/css/master.css}" rel="stylesheet">
	</head>
	<body>
		<div class="contents">
		<div class="wrap">
		<h1 class="midasi">月例出欠 ＞ マスタ管理</h1>
		<form method="post" th:action="@{master}">
			<p class="emp-cnt">6人</p>    
				<input type="submit" name="addEmp" value="＋" class="addEmp-button">
			<ul class="ul-emp">
	            <li th:each="row : *{form.attendanceInfoList}" th:object="${row}" class="li-emp">
					<input type="checkbox" name="ams" th:text="*{employeeInfo.name}" class="chkbox">
					
				</li>
			</ul>
	    	<input type="submit" name="delEmp" value="削除">
    	</form>
    	</div>
    	<!-- wrap -->
    	</div>
    	<!-- contents -->
	</body>
</html>