<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<!--/* 共通のスクリプト／スタイルシートを読み込む */-->
		<th:block th:replace="definition::app-fragment-definition-include"></th:block>
 		<link href="/css/master.css" th:href="@{/css/master.css}" rel="stylesheet">
	</head>
	<body th:object="${form}">
	    <header class="header">
			<form name="modoruForm" method="post" th:action="@{master}">
				<input type="hidden" name="targetMonth" th:value="*{targetMonth}" >
				<input type="image" src="/images/modoru.png" th:src="@{/images/modoru.png}" alt="マスタ管理画面へ" name="modoru" class="modoru" />
			</form>
			<h1 class = "midasi">月例出欠</h1>			
		</header>
		<div class="pankuzu">
			<ul class="pankuzu-list">
				<li>TOP</li>
				<li>マスタ管理</li>				
			</ul>
		</div>
		<div class="contents">
			<div class="wrap">
				<form method="post" th:action="@{master}">
					<input type="hidden" name="targetMonth" th:value="*{targetMonth}" >
					<p class="emp-cnt">6人</p>	
					<input type="submit" name="addEmp" value="＋" class="addEmp-button">
					<ul class="ul-emp">
						<li th:each="row : *{attendanceInfoList}" th:object="${row}" class="li-emp">
							<input type="checkbox" name="chk" th:text="*{emp_name}" class="chkbox">
						</li>
					</ul>
					<p class="btn"><input type="submit" name="delEmp" value="削除"></p>
				</form>
			</div>
			<!-- wrap -->
		</div>
		<!-- contents -->
	</body>
</html>