<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>月例出欠 ＞ マスタ管理</title>
 		<link href="/css/reboot.css" th:href="@{/css/reboot.css}" rel="stylesheet">
 		<link href="/css/common.css" th:href="@{/css/common.css}" rel="stylesheet">
 		<link href="/css/master.css" th:href="@{/css/master.css}" rel="stylesheet">
	</head>
	<body>
		<div class="contents">
		<div class="wrap">
		<h1 class="midasi">月例出欠 ＞ マスタ管理</h1>
		<p class="emp-cnt">6人</p>    
		<form name="addEmpForm" method="post" th:action="@{master}">
			<input type="submit" name="addEmp" value="＋" class="addEmp-button"/>
    	</form>
		<ul class="ul-emp">
			<li class="li-emp"><input type="checkbox" name="ams" class="chkbox">新田</li>
			<li class="li-emp"><input type="checkbox" name="ams" class="chkbox">秋久</li>
			<li class="li-emp"><input type="checkbox" name="ams" class="chkbox">古賀</li>
			<li class="li-emp"><input type="checkbox" name="ams" class="chkbox">清板</li>
			<li class="li-emp li-end"><input type="checkbox" name="ams" class="chkbox">柚木</li>
		</ul>
		<form name="delForm" method="post" th:action="@{master}">
    		<input type="submit" value="削除">
    	</form>
    	</div>
    	<!-- wrap -->
    	</div>
    	<!-- contents -->
	</body>
</html>