<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Hello World!</title>
    </head>
    <body>
        <form name="topForm" method="post" th:action="@{top}">
            <input type="submit" name="list" value="月例出欠一覧"/>
            <input type="submit" name="edit" value="月例出欠入力"/>
   	        <input type="submit" name="master" value="マスタ管理"/>
        </form>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="ログアウト"/>
        </form>
    </body>
</html>
